@import 'toolkit'

.Input
  display: flex
  flex-flow: column nowrap

  input
    level-1()
    background: white
    border-radius: .2rem
    border: none
    color: darkPrimaryText
    display: flex
    font-weight: fontWeightLine
    padding: 1.3rem
    transition: all .3s

    &:active
    &:focus
      outline: none

    &::placeholder
      color: darkHintText

  &.transparent
    input
      box-shadow: none
      background: lightHintText

      &:focus
        level-1()
        background: white
