@import 'toolkit'


.NotFound
  display: flex
  width: 100%
  justify-content: center

  h1
    level-1()
    background: white
    border-radius: .3rem
    box-sizing: border-box
    cursor: default
    display: flex
    flex-flow: row wrap
    font-size: 3rem
    font-weight: fontWeightThin
    justify-content: center
    margin: 4rem 0
    padding: 2rem 4rem
    width: 100%