@import 'toolkit'

.FloatActionButton
  align-items: center
  bottom: 3.2rem
  display: flex
  height: 6rem
  justify-content: center
  position: fixed
  right: 3.2rem
  width: 6rem

  &.Hidden
    figure
      width: 0 !important
      height: 0 !important
      font-size: 0.00001rem !important

  figure
    level-3()
    align-items: center
    background-color: colorAccent
    border-radius: 50%
    color: lightPrimaryText
    cursor: pointer
    display: flex
    font-size: 3rem
    height: 5.6rem
    justify-content: center
    line-height: 3rem
    margin: 0
    width: 5.6rem
    border: 0px solid colorAccent
    zoom: 1
    transition: all .12s ease-in

    &:hover
      level-4()
      width: 5.8rem
      height: 5.8rem