@import 'toolkit'

.WeatherCard
  card()
  display: flex
  margin-bottom: 2rem
  transition: all .3s

  h3
    display: flex
    font-weight: fontWeightThin
    margin: 0
    font-size: fontSizeBigger


  &:hover
    level-2()