@import 'toolkit'

.WeatherCard
  card()
  display: flex
  margin-bottom: 2rem
  transition: all .3s
  position: relative
  flex-flow: column nowrap
  overflow: hidden
  height: 6.6rem

  .Header
    display: flex
    flex-flow: ro nowrap
    justify-content: space-between
    transition: opactity .3s
    opacity: 1
    height: 6.6rem
    flex-shrink: 0

    h3
      display: flex
      font-weight: fontWeightThin
      margin: 2rem 0
      font-size: fontSizeBigger
      transition: all .3s
      flex-grow: 1
      width: 50%

    .Weather
      display: flex
      justify-content: center
      align-items: center
      font-size: 3rem
      color: darkSecondaryText
      flex-grow: 1
      transition: font-size .3s

    .Delete
      align-items: center
      border-radius: 50%
      cursor: pointer
      display: flex
      justify-content: center
      size: 6.6rem
      background: transparent
      transition: all .23s ease-out

      svg
        size: 3rem
        transition: all .23s ease-out

        path
          transition: fill .23s ease-out
          fill: darkHintText

      &:hover
        background: darkDividerColor

        svg
          path
            fill: colorAccent

  .Content
    display: flex
    flex-flow: column nowrap
    opacity: 0
    transition: all .3s
    border-top: .1rem solid transparent

  &:hover
    level-2()

  &.Drop
    height: 0
    margin: 0
    padding: 0

    .Header
      opacity: .0001

  &.Selected
    level-3()
    margin: 0 -0.4rem
    margin-bottom: 2rem
    height: 30rem
    border-radius: .3rem

    .Header
      h3
        font-size: fontSizeBigger + 0.2rem
      .Weather
        font-size: 3rem + 0.2rem
      .Delete
        svg
          size: 3rem + 0.2rem

    .Content
      opacity: 1
      margin-top: 1rem
      border-top-color: darkDividerColor
