
// levels

level-1()
  box-shadow: 0 .2rem .3rem  rgba(black, 0.12), 0 .1rem .3rem rgba(black,0.24)

level-2()
  box-shadow: 0 .3rem 1.0rem rgba(black,0.16), 0 .3rem 1.0rem rgba(black,0.23)

level-3()
  box-shadow: 0 1.0rem 3.0rem rgba(black,0.19), 0 .6rem 1.0rem rgba(black,0.23)

level-4()
  box-shadow: 0 1.4rem 4.5rem rgba(black,0.25), 0 1.0rem 1.8rem rgba(black,0.22)

level-5()
  box-shadow: 0 1.9rem 6.0rem rgba(black,0.30), 0 1.5rem 2.0rem rgba(black,0.22)


card()
  level-1()
  padding: 1.6rem
  background: white
  border-radius: .2rem
  position: relative