
// Accent colors: Indigo

colorPrimary = #3F51B5
colorPrimaryLight = #C5CAE9
colorPrimaryDark = #1A237E


// Dark text on light backgrounds

darkPrimaryText   = rgba(black, 87%)
darkSecondaryText = rgba(black, 54%)
darkHintText      = rgba(black, 38%)
darkDisabledText  = darkHintText
darkDividerColor  = rgba(black, 12%)


// White text on dark backgrounds

lightPrimaryText   = rgba(white, 100%)
lightSecondaryText = rgba(white, 70%)
lightHintText      = rgba(white, 50%)
lightDisabledText  = lightHintText
lightDividerColor  = rgba(white, 12%)


// Grey

grey900 = #212121
grey800 = #424242
grey700 = #616161
grey600 = #757575
grey500 = #9E9E9E
grey400 = #BDBDBD
grey300 = #E0E0E0
grey200 = #EEEEEE
grey100 = #F5F5F5
grey50  = #FAFAFA
