
fontSizeTiny = 1.2rem
fontSizeSmall = 1.4rem
fontSize = 1.6rem
fontSizeBig = 1.8rem
fontSizeBigger = 2rem

fontWeightLine = 200
fontWeightThin = 300
fontWeightNormal = 400
fontWeightSemiBold = 500
fontWeightBold = 700

zIndexHighest = 300
zIndexHigher = 200
zIndexHigh = 100
zIndexNormal = 1
zIndexLow = -100
zIndexLower = -200

