@import 'toolkit'

.WeatherSelector
  display: flex
  flex-flow: column nowrap

  .Main
    display: flex
    flex-flow: row nowrap
    justify-content: space-between
    font-size: 1.6rem
    padding-top: 1rem

    .Info
      display: flex
      flex-grow: 1
      color: darkSecondaryText

      .Weather
      .Wind
        display: flex
        padding: .8rem 3rem 1.8rem
        justify-content: center
        align-items: center
        flex-flow: column nowrap

        p
          margin: 1rem 0
          margin-top: 0
          font-weight: fontWeightLine

        i
          font-size: 4rem

    .Params
    .Params2
      display: flex
      flex-flow: column nowrap
      justify-content: space-around;
      padding: 0 2rem

      p
        font-weight: fontWeightLine
        margin: .6rem 0
        b
          font-weight: fontWeightNormal

    .Params
      @media screen and (max-width: 630px)
        display: none

  .Selector
    display: flex
    border-top: 0.1rem solid darkDividerColor
    height: 11.4rem
    justify-content: space-around

    article
      display: flex
      flex-flow: column nowrap
      color: darkSecondaryText
      cursor: pointer

      h4
        font-size: fontSizeSmall
        margin-bottom: 1rem
        text-align: center

      .Icon
        display: flex
        justify-content: center
        align-items: center
        height: 2.6rem

      p
        margin: 0
        margin-top: 1rem
        font-size: fontSizeSmall
        font-weight: fontWeightNormal


      &.Selected
        color: colorAccent