@import 'toolkit'


.Search
  level-2()
  align-items: center
  background-color: colorPrimary
  color: lightPrimaryText
  display: flex
  flex-direction: column
  // height: 10rem
  justify-content: center
  width: 100%
  padding: 1rem 0

  h1
    font-size: fontSizeBigger
    font-weight: fontWeightThin
    margin: 0
    margin-bottom: 1rem